/* custom boostrap */
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 20px 10px;
}
li.nav-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navbar button {
    padding: 5px;
    border-width: 2px;
    display: flex;
    justify-content: center;
}
.navbar button span{
    font-size: 30px;
}
.navbar.bg-transparent button{
    border-color: #FFF;
}
.navbar.bg-transparent button span{
    color: #FFF;
}
.navbar{
    transition: all 0.35s;
}
.navbar-nav{
    gap: 20px;
}
.navbar .container-fluid .button-right{
    opacity: 0;
}
.navbar.bg-light a,
.navbar.bg-light button{
    color: #485D96;
}
.navbar.bg-transparent .nav-link:hover,
.navbar.bg-transparent .nav-link:focus,
.navbar.bg-transparent .nav-link:active{
    color: #01ACD2;
}
.navbar.bg-light .nav-link:hover,
.navbar.bg-light .nav-link:focus,
.navbar.bg-light .nav-link:active{
    color: #4C4896;
}
.navbar.bg-light button{
    border-color: #485D96;
}
.navbar button:hover,
.navbar button:active{
    border-color: #4C4896;
    background-color: #4C4896;
    color: #fff;
}
.navbar.bg-light .logo-alt{
    width: 0;
    height: 0;
    visibility: hidden;
}
.navbar.bg-transparent .logo{
    width: 0;
    height: 0;
    visibility: hidden;
}
.dropdown { 
    position:static !important; 
} 
.dropdown-menu { 
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
    margin-top:0px !important; 
    width:100% !important; 
} 
.carousel-caption h3{
    color: #485D96;

    /* Display */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 112.5% */
    margin-bottom: 0;
    
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.30);
}
.carousel-caption a:hover,
.carousel-caption a:active{    
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.30);;
}
.carousel-caption{
    z-index: 9;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    flex-wrap: wrap;

    bottom: 0;
    top: 35%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 70px;
}
.carousel-item img {
    width: 100%
}
.carousel-item:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(35, 46, 74, 0.60) 27.08%, rgba(35, 46, 74, 0.00) 100%), rgb(211 211 211 / 0%) 50%;
}
.carousel-indicators{
    position: absolute;
    z-index: 99;
    right: inherit;
    margin: 0;
    right: 70px;
    bottom: 15%;
    left: auto;
}
.carousel-dark .carousel-indicators [data-bs-target]{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border-width: 0px;
    background: #fff;
}

.text-ad1{
    color: #01ACD2 ;
}
.text-ad2{
    color: #232E4A ;
}
.hide{
    display: none !important;
}
body {
    background-color: #edf1fa;
}
p, button , .title, a, .btn{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
a.link{
    color: #01ACD2;
    transition: all 0.2s;
}
a.link:hover,
a.link:active{
    text-decoration: underline;
    text-underline-offset: 3px;
}
.nav-link{
    color: #FFF;
    text-align: center;

    /* buttons */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;
}
.row-tipo1{
    display: flex;
    padding: 100px 0px;
    /*flex-direction: column; */
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 20px;
    background-color: #FFF;

    
}
.col-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    width: 1290px;
    
}
.row-tipo1 .col-12{
    width: 1290px
    display: flex;
}
.row-tipo2{
    position: relative;
    display: flex;
    padding: 100px 0px;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    background-color: #EDF1FA;
}

.row-tipo3{
    position: relative;
    display: flex;
    padding: 120px 0px;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    background-color: #01ACD2;
}
.col-text{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}
.menu-container{
    display: flex;
    padding: 40px 90px;
    justify-content: center;
    align-items: center;
    gap: 97px;
    flex: 1 0 0;
}
.menu-text{
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}
.menu-container .servicio{
    display: flex;
    height: 250px;
    padding: 60px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}
.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.titles p{
    margin-bottom: 0;
}
.titles.title-tipo2{
    flex-direction: row;
    align-self: stretch;
}
.title{
    color: #485D96;
    text-align: center;

    /* Title */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    text-transform: uppercase;
}
.subtitle{
    color: #485D96;
    text-align: center;

    /* small bold */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.divider{
    display: flex;
    width: 250px;
    height: 10px;
    align-items: flex-start;
    gap: 20px;
}
.servicios{
    display: flex;
    width: 1290px;
    padding: 40px 0px;
    align-items: center;
    align-content: center;
    gap: 40px 20px;
    flex-wrap: wrap;
}

p{
    color: #485D96;

    /* Body extra bold */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.light{
    font-weight: 400;
}
.bold{
    font-weight: 700;
}
small{
    color: #485D96;
    text-align: center;

    /* small bold */
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.btn.btn-ad{
    display: flex;
    height: 44px;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border-radius: 22px;
    border: 2px solid #485D96;
    background: #485D96;

    color: #FFF;
    text-align: center;

    /* buttons */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 166.667% */
    letter-spacing: 0.36px;
}
.btn.btn-ad:hover{
    color: #FFF;
    background-color: #4C4896;
}
.btn.btn-ad-outline,
.btn.btn-ad-outline-light{
    display: flex;
    height: 44px;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border-radius: 22px;
    border: 2px solid #485D96;
    
    color: #485D96;
    text-align: center;

    /* buttons */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;
    text-wrap: nowrap;
}
.btn.btn-ad-outline:hover{
    background-color:  #4C4896;
    color: #FFF;
}
.btn.btn-ad-outline-light{
    border: 2px solid #FFF;
    color: #FFF;
}
.btn.btn-ad-outline-light:hover{
    background-color:  #fff;
    color: #4C4896;
}
.decoracion{
    position: absolute;
    right: 0;
    top: -10px;
}


.servicio{
    position: relative;
    display: flex;
    height: 500px;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    overflow: hidden;

    border-radius: 15px;
    background: rgba(0, 0, 0, 0.30);

    /* btn default */
    box-shadow: 10px 10px 35px 0px rgba(76, 72, 150, 0.35);

    transition: box-shadow 0.35s;
}
.servicio:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #485d96a8;
    z-index: 0;
}
.servicio img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.servicio .text{
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.servicio .text .icon{
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;

    /* text */
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.30);
}
.servicio .text .nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;

    /* text */
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.30);

    transition: all 0.35s;
}
.servicio:hover{
    /* btn hover */
    box-shadow: 0px 0px 15px 0px rgba(76, 72, 150, 0.70);
}
.servicio:active{
    /* btn active */
    box-shadow: 0px 0px 5px 0px rgba(76, 72, 150, 0.20);
}
.servicio:hover .text .nombre{
    gap: 10px;
}
.servicio .text .icon{
    color: #fff;
}
.servicio .text .icon .ico{
    width: 90px;
    position: relative;
}
.i-48 span{
    font-size: 48px;
}
.servicio .text .nombre p,
.servicio .text .nombre .headline{
    color: #FFF;
    text-align: center;
}
.headline{
    /* Headline */
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 114.286% */
}
.section-light .headline{
    color: #485D96;
}

.transporte{
    display: flex;
    width: 273px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.frame-transporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.transporte-salidas,
.transporte-servicios{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}
.transporte-salidas *,
.transporte-servicios *{
    margin-bottom: 0;
    white-space: nowrap;
}

.mercancias{
    display: flex;
    padding: 40px 0px 60px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: stretch;
}
.section-paises{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 15px;
}
.paises{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex: 1 0 0;
    flex-wrap: wrap;
}
.section.text{
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;

    border-radius: 22px;
    background: #FFF;
}
.section .flex-text{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.section-btn{
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.row-tipo2#video-corporativo{
    padding-bottom: 0;
}
.video{
    position: relative;
}
.video-player{
    width: 100vw;
    height: auto;
    object-fit: fill;
}
.hidden {
    visibility: hidden;
  }
  
.video-poster {
    position: absolute;
    width:100vw;
    height:100%;

    background-repeat: no-repeat;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: all 0.8s;
}

.video-poster.bg-video {
background: #0000004D !important;
}
  
.video-poster .btn-play {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 64px;
    height: 64px;
    line-height: 48px;
    background: transparent;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.2s;
}
  
.video-poster .btn-pause {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 64px;
    height: 64px;
    line-height: 3rem;
    background: transparent;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    bottom: .25rem;
    left: 3%;
    bottom: 3%;
    opacity: 0.5;
    transform: translate(-50%, 0);
    transition: all 0.5s;
}
.video-poster .btn-play:hover,
.video-poster .btn-pause:hover{
    background-color: #01ACD2;;
}
.video-poster .btn-play span,
.video-poster .btn-pause span{
    font-size: 48px;
    font-weight: 400;
}

.row-cta{
    display: flex;
    padding: 80px 218px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;

    background: linear-gradient(270deg, #485D96 0%, #01ACD2 100%);
}
.row-cta.cta-light{
    margin-top: 0;
    background: linear-gradient(270deg, #EDF1FA 0%, #FFF 100%);
}
.row-cta.cta-light .section-cta{
    flex-direction: row;
    align-items: center;
}
.row-cta.cta-light .section-cta .textos-cta{
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: flex-start;
}
.row-cta.cta-light .headline{
    color: #485D96;
}
.section-cta{
    display: flex;
    width: 1290px;
    height: 220px;
    justify-content: space-around;
    align-items: end;
}
.img-cta{
    width: 254px;
    height: 445px;
}
.textos-cta{
    display: flex;
    gap: 40px;
    align-items: center;
    height: 100%;

    color: #fff;
}
.certificaciones{
    display: flex;
    width: 1028px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px 40px;
    flex-wrap: wrap;
}

footer{
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top: 1px solid rgba(237, 241, 250, 0.20);
    background: #01ACD2;
}
.col-footer{
    display: flex;
    width: 1000px;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.menu-footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.menu-footer a{
    color: #FFF;
    text-decoration: none;

    /* buttons */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;
}
.navigation .address,
.navigation .phone,
.navigation .copyright,
.copyright,
.navigation a{
    color: #fff;
}
.menu-social{
    display: flex;
    padding: 10px 148px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.address,
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dropdown-menu.mobile{
    display: none;
}
.dropdown-menu.desktop{
    box-shadow: 0px 35px 35px 0px rgba(76, 72, 150, 0.10) !important;
    border: none !important;
}

.whatsapp-floating{
    position: fixed;
    z-index: 999;
    right: 10px;
    bottom: 54px;
    opacity: 0;
}
.whatsapp-floating .circle{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    border-radius: 32px;
    background: #00D33A;

    /* btn default */
    box-shadow: 10px 10px 35px 0px rgba(76, 72, 150, 0.35);
}
.whatsapp-floating .circle .wsp-icon{
    display: flex;
    padding: 13px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    border-radius: 32px;
}
.whatsapp-floating .circle .text{
    color: #00D33A;
    text-align: center;

    /* buttons */
    font-size: 0px;
    font-style: normal;
    font-weight: normal;
    line-height: 0;
    letter-spacing: 0;
    transition:  all 0.45s;
}
.whatsapp-floating .circle .wsp-icon *{
    transition:  all 0.45s;
}
.whatsapp-floating:hover .circle{
    display: flex;
    padding-left: 15px;
    justify-content: flex-end;
    align-items: center;

    background: #fff;
}
.whatsapp-floating:hover .circle .wsp-icon *{
    fill: #00D33A;
}
.whatsapp-floating:hover .circle .text{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;
}

/* Servicios */
.banner{
    position: relative;
}
.banner .img-banner{
    width: 100vw;
}

.banner-item:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(266deg, rgba(1, 172, 210, 0.00) 0%, rgba(76, 72, 150, 0.35) 47.16%, rgba(76, 72, 150, 0.70) 99.5%), rgba(211, 211, 211, 0) 50% / cover no-repeat;
}
.banner-caption h3{
    color: #485D96;

    /* Display */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 112.5% */
    
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.30);
}
.banner-caption a:hover,
.banner-caption a:active{    
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.30);;
}
.banner-caption{
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    text-align: left;

    position: absolute;
    bottom: 0;
    top: 35%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 70px;
}

.grid-servicios{
    display: flex;
    width: 1030px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.grid-servicios .nombre-servicio{
    display: flex;
    width: 189px;
    padding: 20px 10px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 15px;
    background: #01ACD2;

    /* sombra1 */
    box-shadow: 0px 5px 10px 0px rgba(1, 172, 210, 0.20);
}
.grid-servicios .nombre-servicio .servicio-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}
.grid-servicios .nombre-servicio .servicio-icon .icon-servicio{
    display: flex;
    width: 64px;
    height: 49px;
    justify-content: center;
    align-items: center;

}
.grid-servicios .nombre-servicio .servicio-icon small{
    font-weight: 400;

    display: flex;
    width: 169px;
    height: 60px;
    flex-direction: column;
    justify-content: center;

    color: #fff;
    transition: all 0.2s;
}
.grid-servicios .nombre-servicio:hover{
    background-color: #232E4A;
}

/*Contacto */
.form{
    width: 600px;
    padding: 10px 0px 0;
}
.form-floating{
    border: 2px solid #485D96;
    background: #FFF;
}
.form-floating label{
    color: #01ACD2;
    text-align: center;

    /* Small */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.form-check label{
    color:#485D96;

    /* Small */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: 1;
    transform: scale(.85) translateY(-0.85rem) translateX(0.15rem);
}
.form-floating>.form-control, .form-floating>.form-select {
    height: 48px;
}

.profesionales{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: center;
}
.profesional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    overflow: hidden;
    transition: all 0.25s;

    /* btn default */
    box-shadow: 10px 10px 35px 0px rgba(76, 72, 150, 0.35);
}
.profesional:hover{
    /* btn hover */
    box-shadow: 0px 0px 15px 0px rgba(76, 72, 150, 0.70);
}
.profesionales .profesional .area{
    display: flex;
    padding: 20px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: stretch;

    background: #FFF;
}
.profesionales .profesional .area .cargo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profesionales .profesional .area .phone,
.profesionales .profesional .area .mail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.profesionales .profesional:hover .area a p,
.profesionales .profesional:hover .area span{
    color: #7293ED;
}

.location{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.location span,
.location a{
    color:#232E4A;
}
.section-map{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.map-banner{
    display: flex;
    width: 430px;
    height: 392px;
    padding: 40px 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;

    border-radius: 22px;

    background: linear-gradient(51deg, #4C4896 0%, rgba(72, 93, 150, 0.49) 35.42%, rgba(92, 170, 206, 0.00) 100%), url(/assets/banner-map.jpg), lightgray 50% / cover no-repeat;
    background-size: cover;
    /* btn default */
    box-shadow: 10px 10px 35px 0px rgba(76, 72, 150, 0.35);
}
.map-banner .area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.map-banner .area .location{
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: flex-start;
}

.section-text-mision{
    display: flex;
    width: 510px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.section-text-mision .decorado{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.section-text-mision .icon{
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    background: #01ACD2;
}
.section-text-mision .icon span{
    font-size: 64px;
}
.banner-mision{
    width: 641px;
    height: 456px;
    flex-shrink: 0;
}
.banner-vision{
    width: 510px;
    height: 456px;
    flex-shrink: 0;
}
.valor .icon{
    width: 64px;
    height: 64px;
}
.valor .icon span{ 
   font-size: 64px;
}
.valor{
    display: flex;
    padding: 10px 0px;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    transition: all 0.3s;

    border-bottom: 1px dashed #FFF;
}
.valor:hover{

    gap: 20px;

    border-bottom: 1px solid #FFF;
}

.clientes{
    display: flex;
    padding: 80px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 80px 40px;
    align-self: stretch;
    flex-wrap: wrap;
}
.clientes .cliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.clientes .cliente .banner,
.clientes .cliente small{
    opacity: 0.75;
    filter: saturate(80%);
    transition: all 0.2s;
}
.clientes .cliente .banner:hover,
.clientes .cliente:hover small{
    filter: saturate(100%);
    opacity: 1;
}
.decorado-cliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.decorado-cliente .icon{
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    background: #01ACD2;
}
.decorado-cliente .icon span{
    font-size: 64px;
}
.decorado-cliente .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.decorado-cliente small{
    color: #01ACD2;
}

.section-text-trabaja{
    display: flex;
    width: 510px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.section-text-trabaja .decorado{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.section-text-trabaja .icon{
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    background: #01ACD2;
}
.section-text-trabaja .icon span{
    font-size: 64px;
}
.banner-trabaja{
    width: 641px;
    height: 456px;
    flex-shrink: 0;
}

.separator{
    display: none;
}


@media all and (max-width: 768px){
    .dropdown-menu.desktop{
        display: none;
    }
    .dropdown-menu.mobile{
        display: block;
    }
    .servicios{
        flex-direction: column;
    }
    .servicio {
        width: 320px;
        height: 352px;
        padding: 150px 20px;
    }
}

@media all and (min-width: 768px) {
    .animate {
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-2rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(-2rem);
      opacity: 0;
    }
  }
  
  
  .slideIn {
    animation-name: slideIn;
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInUp {
    animation: 1.5s fadeInUp;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  /*mobile */
  @media all and ( max-width: 991px ){
    .nav-link{
        color: #485D96;
    }
    .navbar .container-fluid .navbar-collapse{
       background-color: #f8f9fa;
    } 
  }
  /*mobile */
  @media all and ( max-width: 1024px ){
    img.logo-alt,
    img.logo {
        width: 165px;
    }
    .navbar .container-fluid .navbar-brand{
        order: 1;
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .navbar .container-fluid .button-toggle{
        order: 0;
    }
    .navbar .container-fluid .button-right{
        order: 2;
    }
    .navbar .container-fluid .navbar-collapse{
        order: 3;
    }   
    .button-toggle{
        display: flex;
        
    }
    .button-right{
        display: flex;
    }
    .row-tipo1{
        padding: 40px 0;
    }
    .row-tipo2{
        padding: 40px 0;
    }
    .row-tipo3{
        padding: 40px 0;
    }
    .h3,h3{
        font-size: 36px !important;
        line-height: 38px !important;
    }
    p {
        font-size: 16px;
        line-height: 24px;
    }
    .btn.btn-ad,
    .btn.btn-ad-outline, 
    .btn.btn-ad-outline-light{
        height: auto;
        padding: 5px 25px;
        border-radius: 40px;
    }
    .title {
        font-size: 24px;
        line-height: 28px;
    }
    .carousel-caption {
        top: 27%;
        left: 20px;
    }
    .carousel-item{
        height: 420px;
    }
    .carousel-caption{
        flex-wrap: nowrap;
    }
    .carousel-item img {
        height: -webkit-fill-available;
        width: auto !important;
    }
    .row-tipo1 .col-12{
        width: 100% !important;
        display: flex;
    }
    .carousel-caption,
    .mercancias,
    .section .flex-text,
    .textos-cta,
    .menu-footer,
    .navigation,
    .menu-social,
    .row-tipo1 .col-12,
    .row-tipo3 .col-12,
    .profesionales,
    .location,
    .section-map{
        flex-direction: column !important;
    }
    .col-12{
        display: block;
        width: 100% !important;
    }
    .paises{
        justify-content: space-around;
    }
    .servicio{
        width: 320px;
        height: 350px;
        padding: 100px 10px;
    }
    .servicios{
        padding: 20px;
        width: 100%;
    }
    .textos-cta{
        justify-content: center;
        gap: 10px;
    }
    .headline {
        font-size: 22px;
        line-height: 24px;
    }
    .row-tipo2.row-cta{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 40px;
    }
    .row.row-tipo2.row-cta.cta-light {
        padding-bottom: 40px;
    }
    .row-tipo2.row-cta.cta-light .section-cta{
        flex-direction: column;
        align-items: baseline;
        height: auto;
    }
    .row-tipo2.row-cta.cta-light .section-cta .btn{
        align-self: flex-end;
    }
    .img-cta {
        width: 188px;
        height: 330px;
    }
    .section-cta{
        width: 100%;
        gap: 10px;
    }
    .certificaciones,
    .col-footer{
        width: 100%;
    }
    .certificaciones img{
        width: 220px;
    }
    .menu-footer,
    .navigation{
        align-items: center;
    }
    .whatsapp-floating {
        right: 15px;
        bottom: 35px;
    }
    /************** paginas **********************/
    .banner .img-banner {
        height: 320px;
        margin: auto;
        object-fit: cover;
        width: 100%;
    }
    .banner-caption{
        left: 20px;
    }
    .section-text-mision,
    .banner-mision,
    .banner-vision,
    .section-text-trabaja,
    .form{
        width: 100%;
        height: auto;
        padding: 0 20px;
    }
    .grid-servicios {
        gap: 20px;
        width: 100%;
    }
    .valor .icon{
        width: 48px;
        height: 48px;
    }
    .valor .icon span{
        font-size: 48px;
    }
    .section-text-valores,
    .titles,
    .contact-form p,
    .section-map {
        padding: 0 20px;
    }
    .banner-valores {
        padding: 20px;
        width: 100%;
    }
    .section-text-mision .icon {
        width: 70px;
        height: 70px;
    }
    .section-text-mision .icon span {
        font-size: 48px;
    }
    .profesionales {
        padding: 40px 0;
        gap: 40px;
        align-items: center;
    }
    .location {
        align-items: center;
    }
    .section-map{
        align-items: center;
    }
    img.bg-banner-map{
        width: 100%;
    }
    .section-text-mision {
        order: -1;
    }
  }

  /* laptops y tables */
  @media all and ( max-width: 1380px ){
    #rotatingGlobe{
        width: 420px !important;
        height: 420px !important;
    }
    .transporte{
        width: 185px;
        padding-bottom: 10px;
    }
    .transporte-salidas, .transporte-servicios{
        flex-direction: column;
        align-items: center;
    }
  }

   /*pcs */
   @media all and ( min-width: 1381px ){

   }